

<div class="d-flex flex-column align-items-center wide tall">

    <div class="d-flex align-items-center wide" style="height: 100px; margin-bottom: 10px;">
        <img src="assets/bookstore-icon.png" style="object-fit:contain; height: 100px; margin-left: 2.5vw; ">
        <div style="margin-left: 10px; font-size: 38pt;">
            Bookstore
        </div>
    </div>

    <div class="d-flex align-items-center wide" style="background-color: #17C3B2; padding: 10px 0 10px 0;">
        &nbsp;
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center wide" style="padding: 20px 0 20px 0;">
        
        <div class="unl-title-bg" style="width: 90%;">
            Change Password
        </div>

        <div class="d-flex justify-content-center wide" style="margin: 40px 0 40px 0;">

            <form  style="width:90%; padding: 40px 0 40px 0;">

                <div class="mb-3">
                    <label for="exampleFormControlText1" class="col-form-label-lg">Old Password</label>
                    <input type="text" [ngClass]="ngclass_old_password" id="exampleFormControlText1" placeholder="Old Password" aria-label="Author Old Password" aria-describedby="basic-addon1" name="textInputOldPass" [(ngModel)]="old_password" required>
                    <div *ngIf="ngclass_old_password['is-invalid'] == false;" id="basic-addon1" class="form-text">Input old password</div>
                    <div class="invalid-feedback">
                        Please input your old password.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlText2" class="col-form-label-lg">New Password</label>
                    <input type="text" [ngClass]="ngclass_new_password" id="exampleFormControlText2" placeholder="New Password" aria-label="Author New Password" aria-describedby="basic-addon2" name="textInputNewPass1" [(ngModel)]="new_password" required>
                    <div *ngIf="ngclass_new_password['is-invalid'] == false;" id="basic-addon1" class="form-text">Input new password</div>
                    <div class="invalid-feedback">
                        Please input a new password.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlText2" class="col-form-label-lg">Re-Input New Password</label>
                    <input type="password" [ngClass]="ngclass_new_password_re" id="exampleFormControlText3" placeholder="New Password" aria-label="Author New Password" aria-describedby="basic-addon3" name="textInputNewPass2" [(ngModel)]="new_password_re" required>
                    <div *ngIf="ngclass_new_password['is-invalid'] == false;" id="basic-addon1" class="form-text">Re-Input new password</div>
                    <div class="invalid-feedback">
                        Please re-input the new password correctly.
                    </div>
                </div>

            </form>
        </div>

        
    
        <div class="wide" style="text-align: center; margin-top: 40px;">
            <button type="button" class="btn btn-light btn-lg mx-1 my-1" style="background-color: #227C9D; color: #ffffff; min-width: 250px;" (click)="openUpdateConfirmationDialogue()">Change Password</button>
            <button type="button" class="btn btn-light btn-lg mx-1 my-1" style="background-color: #FE6D73; color: #ffffff; min-width: 250px;" (click)="cancelChangePassword()">Cancel Change Password</button>
        </div>
        
    </div>

</div>