

#overlay-sidenav {
    position: absolute;
    z-index: 1000;
    padding: 0;
    margin: 0;
    display: block;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

#dismiss-space {
    background-color: rgb(54, 54, 54, 0.2);
    height: 100%;
}

#sidenav {
    min-width: 300px;
    height: 100%;
    width: 25vw;
    background-color: #faffff;
}


ul.side-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.side-nav-menu-node {
    padding: 10px 10px 10px 50px;
    margin: 0;
    font-size: 18pt;
}

li.side-nav-menu-node:hover {
    background-color: #F4A261;
    color: #FFFFFF;
    cursor: pointer;
}